<!-- Navbar -->
<header class="text-white shadow-md fixed top-0 left-0 w-full z-50" style="background-color: rgb(180 137 195);">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
      <!-- Sol: Logo veya resim -->
      <div class="flex items-center space-x-2">
        <img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*WWRm1tIQ5MinLE0rUTo62w.png" alt="Logo" class="w-10 h-10 rounded-full" />
        <span class="font-bold text-lg">Role Based Auth</span>
      </div>
  
      <!-- Orta: Menü -->
      <nav class="hidden md:flex space-x-6">
        <a href="#" class="hover:underline">Home</a>
        <a href="#" class="hover:underline">About Project</a>
      </nav>
  
      <!-- Sağ: Butonlar -->
      <div class="hidden md:flex space-x-4">
        <a mat-raised-button routerLink="/register">Register</a>
        <a mat-raised-button routerLink="/login">Login</a>
      </div>
  
      <!-- Mobil menü ikonu -->
      <div class="md:hidden text-2xl">&#9776;</div>
    </div>
</header>
